@model MyMVCApplication.Models.Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    Student Name : @Model.StudentName
    <br>
    @{
        var c = "C#";
        <text>Razor Code is HTML and @c</text>
    }

</div>